.li-none {
    list-style-type: none;
}

.edit {
    color: rgb(98, 184, 98);
}

.delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}

delete {
    color: red;
}